html,body,div,textarea { margin:0; padding:0; border:none; }

#input,#output {
    position: absolute;
    height: 100%;
    top: 0;
}

#input {
    left: 0;
    width: 59%;
}

#output {
    right: 0;
    width: 40%;
    font-family: monospace;
    font-size: 13px;
    padding-left: 5px;
}

#tip {
     position: fixed;
     z-index: 1;
     top: 30%;
     left: 67%;
     background-color: yellow;
     padding: 0.4em;
     border-radius: 0.4em;
}

#run {
     display:none; /* I need UI help! */
     position: fixed;
     z-index: 1;
     top: 0;
     right: 41%;
     font-size: 20px;
     color: white;
     background-color: orange;
     margin: 0;
}

.stderr { color: red; }

